

.container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.slider {
  display: flex;
  width: 500%;
  height: 40rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
}
@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}

.slider .box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .slider .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.slider .box .bg {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
  .slider .box .bg {
    width: 65%;
  }
}

@media only screen and (max-width: 950px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 40%;
    transform: skewX(0deg);
  }
}

@media only screen and (max-width: 650px) {
    .slider .box .bg {
      width: 100%;
      left: 0;
      bottom: 0;
      height: 48.2%;
      transform: skewX(0deg);
    }
  }

.slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  transform: skewX(10deg);
}

@media only screen and (max-width: 650px) {
  .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}

@media only screen and (max-width: 650px) {
  .slider .illustration img {
    margin-top: 0 !important;
    border-radius: 0  !important;
    max-width: 1000px;
    max-height: 500px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    border-radius: 1rem  !important;
  }
}


.slider .box .details {
  padding: 1.5rem;
  padding-left: 6.5rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}

.box .illustration img {
    z-index: 10;
}

@media only screen and (max-width: 950px) {
  .slider .box .details {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 2rem;
    transform: translateY(-9rem);
    margin-bottom: -8rem;
  }

  .slider > .box > .details > p {
    margin-right: 0rem !important;
    display: block;
    width: 100%;
  }
}

.slider .box .details h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: white;
}

.slider .box .details p {
  display: inline-block;
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: 2rem;
  margin-right: 3.5rem;
}

.slider .box .details .webbutton {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider .box .details button:hover {
  opacity: 0.8;
}

.slider .box .details button:focus {
  outline: none;
  border: none;
}

.slider .box1, .box2, .box3, .box4, .box5 {
  background-color: #21262E;
}

.webbutton {
  background-color: #00FF44;
}

.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
  padding-right: 6.5rem;
}

.slider .illustration img {
    border-radius: 1rem;
    max-width: 1000px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1050px) {
  .slider .box .details h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .slider .box .details p {
    font-size: 1rem;
  }
  }

@media only screen and (max-width: 950px) {
  .slider .illustration {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
  }

  .slider .illustration img {
   margin-top: -6rem;
}

.slider .box .details p {
  margin-bottom: 1.5rem;
}
}
.slider .illustration div {
  height: 25rem;
  width: 18rem;
  border-radius: 3rem;
  background-color: #FF0077;
  position: relative;
  transform: skewX(-10deg);
}

@media only screen and (max-width: 800px) {
  .slider .illustration div {
    height: 20rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 800px) {
  .slider .box .details p {
    margin-right: 0;
  }
}

.slider .illustration div::after, .slider .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}

.slider .illustration div::after {
  transform: translate(4rem, -1rem);
}

.slider .illustration div::before {
  transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
  z-index: 10;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 650px) {
  .prev,
.next {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .slider .box .details {
    margin-bottom: -10rem;
  }
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.trail div {
  border-top: 3px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.trail div:hover {
  opacity: 0.6;
}

.active {
  opacity: 1 !important;
}